<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!--配置注解扫描-->
    <context:component-scan base-package="com.heima.travel">
        <!--排除重复加载的web层的bean，避免内存浪费-->
        <!--排除@Controller注解对应的bean-->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <!--排除@RestController注解对应的bean-->
        <!--排除@ControllerAdvice对应的bean-->
        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController"/>
        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.RestControllerAdvice"/>
    </context:component-scan>
    <!--开启aop注解支持-->
    <aop:aspectj-autoproxy/>
    <!--开启事务注解驱动支持-->
    <tx:annotation-driven/>
    <!--方式1：通过import标签导入-->
   <!-- <import resource="classpath:applicationContext-dao.xml"/>-->

</beans>