<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heima.travel.mapper.RouteMapper">
    <!--TODO: rflag表示数据库该条数据是否有效，为1时有效，通过order by count desc降序排序，count是人气 -->
    <select id="popularityRoutes" resultType="Route">
        select * from tab_route where rflag='1' order by count desc
    </select>
    <!--查询日期rdate是最新的前4-->
    <select id="newRoutes" resultType="Route">
        select * from tab_route where rflag='1' order by rdate desc
    </select>
    <!--TODO:查询是旅游主题且最新的前4，isThemeTour是char类型，所以需要单引号='1'-->
    <select id="themesRoutes" resultType="Route">
        select * from tab_route where rflag='1' and isThemeTour='1' order by rdate desc
    </select>
    <!--TODO；通过动态sql的方式实现多条件查询-->
    <select id="findRouteList" resultType="Route">
        select * from tab_route
        <where>
            rflag='1'
            <if test="cid!=null and cid!=''">
                and cid=#{cid}
            </if>
            <if test="rname!=null">
                and rname like concat('%',#{rname},'%')
            </if>
        </where>
    </select>
    <!--定义map映射-->
    <resultMap id="routeInfoMap" type="Route" autoMapping="true">
        <!--先进行主表映射,开启自动映射后，如果列名与pojo类中属性名称一致，可自动动映射-->
        <!--主键映射为id,其余字段为result，column为表字段名，property为实体属性名-->
        <id column="rid" property="rid"/>
        <result column="rname" property="rname"/>
        <!--映射category，此处是从表，一对一association，property为type中一对一的实体属性名->javaType:为property实体对象的具体Java类型-->
        <association property="category" javaType="Category"  autoMapping="true">
            <!--主键映射为id,其余字段为result，column为表字段名，property为实体属性名-->
            <id  column="cid" property="cid"/>
            <result column="cname" property="cname"/>
        </association>
        <!--映射seller，此处是从表，一对一association-->
        <association property="seller" javaType="Seller" autoMapping="true">
            <id  column="sid" property="sid"/>
            <result column="sname" property="sname"/>
        </association>
        <!--映射图片集合，此处是从表，一对多collection-->
        <collection property="routeImgList" javaType="list" ofType="RouteImg" autoMapping="true">
            <id  column="rgid" property="rgid"/>
            <result column="bigPic" property="bigPic"/>
        </collection>
    </resultMap>
    <!-- 注意：如果是orm关系映射，即一对一，多对多等，需要使用resultMap,而不是resultType,此时的route中含有category、seller、routeImgList -->
    <!-- TODO：注意，查询出来的数据，如果字段名有重复，则需要对字段起别名 -->
    <select id="findRouteInfoByRid" resultMap="routeInfoMap">
        select * from
                     tab_route as rt,
                     tab_seller sl,
                     tab_category as cg,
                     tab_route_img as ri
        where
            rt.sid = sl.sid
          and rt.cid = cg.cid
          and rt.rid = ri.rid
          and rt.rid = #{rid}
    </select>

    <update id="updateCount">
        update tab_route set count=count+#{count} where rid=#{rid}
    </update>

    <select id="findCountByRoutId" resultType="int">
        select count from tab_route where rid=#{rid}
    </select>
</mapper>
